@charset "utf-8";

/*
Sections:

1) GLOBAL ELEMENT RULES
2) NAVBAR
3) FOOTER
4) HOME PAGE
5) NEW ARRIVALS PAGE
6) GOLD PAGE
7) DIAMOND PAGE
8) ANTIQUE PAGE
9) GEMSTONE PAGE
10) MANGALSUTRAS PAGE
11) ENGAGEMENT PAGE
12) RHODIUM PAGE
13) TEMPLE PAGE
14) MOBILE
15) SHARED - TO REFACTOR
16) EXTERNAL LIB CSS
17) UNSORTED MEDIA QUERIES
*/


/*#region GLOBAL ELEMENT RULES*/

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('../fonts/MontserratExtraBold.eot');
    src: url('../fonts/MontserratExtraBold.eot') format('embedded-opentype'),
        url('../fonts/MontserratExtraBold.woff2') format('woff2'),
        url('../fonts/MontserratExtraBold.woff') format('woff'),
        url('../fonts/MontserratExtraBold.ttf') format('truetype'),
        url('../fonts/MontserratExtraBold.svg#MontserratExtraBold') format('svg');
}

body {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Playfair Display', serif;
    background-size: cover;
    background-repeat: no-repeat;
    background: white;
}

/* Gives p elements a fixed line height so elements aren't too close above and below */
p {
    line-height: 1.75
}

/* Boldens header texts for readability */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

/* Makes highlight the right color */
::selection {
    background-color: #ACCEF7;
}

/* Necessary to allow images to occupy space correctly, otherwise they are stretched it seems */
img {
    width: 100%;
}

/* Appears to be unused, span elements only in embedded stuff and old example modals */
span {
    color: #fff;
}

/* Again, only old example modal usage it seems */
button {
    outline: 0 !important;
}

/*#endregion*/

/*#region NAVBAR */

/* mainNav refers to the entire navbar both top and the links */
#mainNav {
    text-align: center !important;
    vertical-align: middle !important;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

/* Main styles for each link in navbar */
#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 600;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #000;
}

/* Colors the text of each nav link after hovering or clicked, currently overriden by !important */
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgb(167 99 5);
}

/* Hovering over any link in the navbar text color and boldness animation */
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover,
.nav-link-force-hover {
    color: #704a57 !important;
    text-shadow: 0 0 0.35px #704a57;
    transition: all 200ms ease-in;
}

/* Style for each link in collections dropdown */
#mainNav .navbar-nav .nav-item .nav-link,
.dropdown-item {
    color: inherit;
    font-family: 'Playfair Display', serif;
    font-size: 85%;
    font-weight: Bold;
    letter-spacing: 0.5px;
}

/* Keeps the navbar elements center aligned and in the centre of the viewport. Only links and not brand */
.navbar-nav {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Applies to both the top navbar and the navbar with all the links, color and is padded enough to look seamless between it and rest of page */
#navbar-row {
    background-color: rgb(255, 255, 255);
    padding-bottom: 5px;
    width: 100%;
}

/* Just to the top section of navbar for phone no., insta and address, gives the right height and takes width */
#top-navbar {
    width: 100%;
    height: 28px;
    padding: 0;
}

/* Hovering over each link in the top section of navbar color transition */
#top-navbar a:hover {
    color: indianred !important;
    transition: all 100ms ease-in-out;
    text-decoration: none;
}

/* div present in the top navbar, keeps the links aligned to the right, bg color and slightly off the right end */
#top-navbar div {
    padding-right: 0.5rem;
    text-align: right;
    background-color: #36384d;
}

/* Text element styling in top nav */
#top-navbar p {
    display: inline;
    border-left: solid;
    padding-left: 5px;
    font-family: 'Twentieth Century', serif;
    letter-spacing: 0.5px;
    color: #e4bab4 !important;
}

/* All styles for dropdown collection menu like animation, visibility/display is nothing prior to hover, anchored to navbar, etc.. */
.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
}

/* Styles for dropdown collection menu and hovering. Lets it be visible after hovering over the link */
#dropdownMenuButton:hover+.dropdown-menu,
.dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
}

/* For little caret next to dropdown to rotate after closing */
.dropdown-toggle:hover::after {
    transform: rotate(180deg);
}

/* For little caret next to dropdown to rotate after opening */
.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
}

/* For little caret next to dropdown to rotate smoothly */
.dropdown-toggle:after {
    transition: 0.7s;
}

/* Each link in the dropdown style */
.dropdown-item {
    font-size: 1em;
    letter-spacing: 0.5px;
}

/* Each link in the dropdown style after hovering*/
.dropdown-item:hover {
    color: #704a57;
    text-shadow: #704a57;
    text-shadow: 0 0 0.35px #704a57;
    transition: all 50ms ease-in;
    text-decoration: none;
    background-color: rgb(230, 229, 229);
}

/*#endregion*/

/*#region FOOTER */

/* cover-con refers to list inside footer div. this gets rid of dots for list items */
.cover-con li {
    list-style: none;
}

/*  Top text i.e "Our Hours" */
.cover-con h4 {
    font-size: 21px;
    color: #e4bab4;
    text-align: center;
    font-weight: normal;
}

/* Anything underneath the top texts i.e the address */
.cover-con p, .cover-con a {
    font-size: 16px;
    color: #e4bab4;
    text-align: center;
}

/* Styling the actual list, making sure each element is evenly spaced and it is horizontal(not vertical) etc.. */
.cover-con {
    padding-top: 2%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway,sans-serif';
}

/* Entirety of footer, not just list of stuff */
.footer-sdr {
    background-color: #36384d;
}

/*#endregion*/

/*#region HOME PAGE */

/* Section headers like new arrivals, gold, etc.. at top of every section */
.section-headers {
    font-size: 35px;
    padding-bottom: 4%;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.5px;
}

/* Gives white background to both gold and collections sections on homepage */
#gold,
#collections {
    background-color: white !important;
}

/* View more buttons at the end of each section */
.kp-viewmore {
    border: 2px solid black;
    padding: 6px 15px;
    border-radius: 5px;
    position: relative;
    top: 43px;
    font-weight: 700;
    color: black;
    transition: all .2s ease-in-out;
    font-size: max(0.75vw, 1rem);
}

/* View more buttons, hover effect, at the end of each section */
.kp-viewmore:hover {
    background: black;
    color: #fff;
    text-decoration: none;
}

/* Special hours div/banner, currently hidden */
#special-hours {
    font-size: 1.2em;
    background-color: gold;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: black;
}

/* In new arrivals section, each product has collection associated */
.new-arrival-collection-text {
    color: goldenrod;
}

/* Bottom row of new arrivals on homepage margin from top row */
.arrive-btm {
    margin-top: 24px;
}

/* Full horizontal section new arrivals and "contact us" */
#new-arr,
#contact-us {
    background-color: aliceblue;
}

/* New arrival and each row in collections just to take up entire width */
.container-max {
    max-width: fit-content;
}

/* Text on gold flickity carousel */
#gold p {
    font-size: max(0.8vw, 1rem);
    text-shadow: 0 0 0.1px black;
    color: black;
}

/* Every image in diamond section */
.diamond-container img {
    cursor: pointer;
}

#diamond{
    background-color: black;
}

/* Specifically diamond section header for contrasting color */
#diamond h3 {
    color: white;
}

/* Diamond section each text(not fancybox) */
#diamond .row p {
    text-align: center;
    font-size: 1em;
    background-color: black;
    color: white;
}

/* No padding at bottom of collections section for direct transition to footer */
#collections {
    padding-bottom: 0 !important;
}

/* Every image in collections section */
#collections img {
    border-radius: 5px;
}

/* The collections section, specifically those rows that have the text on the left */
.collections-row-text-left {
    padding-bottom: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

/* The collections section, specifically those rows that have the text on the right */
.collections-row-text-right {
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 2%;
}

/* All text in collections section outside of the header */
.collections-section-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gemstone-collection-section {
    background-color: lightyellow;
}

#antique-collection-section {
    background-color: rgb(157, 121, 118);
}

#mangalsutra-collection-section {
    background-color: rgb(170, 183, 201);
}

#engagement-collection-section {
    background-color: burlywood;
}

/* Newsletter subscribe text input */
.subscribe-input {
    border: none;
    width: 230px;
    padding: 8px 13px;
}

/* Newsletter subscribe button */
.subscribe-btn {
    border: none;
    padding: 8px 13px;
    background: #684f4f;
    color: #fff;
}

/* Success alert after subscribing to newsletter */
#subscribe-success-alert {
    margin-top: 0.3rem;
    width: 342px;
    height: 30px;
    line-height: 7px;
}

/* Important styles for forced stylization of ctct form */
.always-show {
    display: block !important;
}

/* Important styles for forced stylization of ctct form */
.never-show {
    display: none !important;
}

/* Contact us form each input */
.form-control {
    /* border: #4D3643; */
    background-color: rgba(255, 255, 255, 1);
    /* border-radius: 0; */
    color: black;
    font-weight: 600;
}

/* Contact us form each input after clicking*/
.form-control:focus {
    box-shadow: none;
    border-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
}

/* Area around/containing contact us form only, not entire horizontal space */
#contact-us-form-section {
    background-color: #4D3643;
    padding-top: 20px;
}

/* Lets the actual form elements take up the space in the contact us form section */
#contact-form .modal-body {
    padding: 0;
}

/* Contact form submit button */
.contact-btn {
    width: 100%;
    margin-top: 15px;
    color: black;
    background-color: white;
    border-color: gray;
}

/* Contact form submit button hover over effects*/
.contact-btn:hover{
    color: #333;
    background-color: rgb(202, 245, 202);
    border-color: rgb(202, 245, 202);
}

/* Success alert after submitting contact us form */
#contact-us-alert {
    margin-top: 0.5rem;
    text-align: center;
    transition: all 200ms ease;
    font-size: 13px;
    padding: 0.2rem 0;
}

/*#endregion*/

/*#region NEW ARRIVALS PAGE */

/* New arrival banner text rules (current doesn't exist) */
#landing-section .banner-copy {
    position:absolute;
    top: 30%;
    left: 10%;
    width: 30%;
}

#landing-section .banner-copy h1{
    font-size: 3.1rem;
    font-weight: normal;
    font-kerning: none;
}

#landing-section .banner-copy p{
    padding-top: 15px;
    text-align: start;
}

#landing-section .separator{
    position: relative;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    border-bottom: none;
    width: 75px;
    margin-top: 10px;
}

#new-arrival-first {
    margin-bottom: 50px;
}

#new-arrival-first h1 {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-kerning: none;
    color: #5e5c5c;
    font-weight: normal;
}

#new-arrival-first .image-separator {
    text-align: center;
}

#new-arrival-first .image-separator img{
    width: auto;
    margin-bottom: 15px;
}

#new-arrival-first .polki-img{
    outline: 2px solid #d9b481	;
}

#new-arrival-first .polki-text{
    font-kerning: none;
    margin-top: 20px;
    text-align: center;
}

#new-arrival-first #polki-link{
    text-align: center;
    margin-top: 30px;

}

#new-arrival-first #polki-link a{
    font-size: 1.2rem;
    font-kerning: none;
    padding: 5px 10px;
    transition: 300ms;
    border-radius: 0;
    background-color: #d9b481;
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.1);
}

#new-arrival-first #polki-link a:hover{
    background-color:  #f8ce94;
    cursor: pointer;
}

#new-arrival-second {
    margin-bottom: 70px;
}

#new-arrival-second .card {
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    font-kerning: none;
}

#new-arrival-second .card-shadow {
    box-shadow: 0px 0px 0.55rem 0px rgba(51, 51, 51, 0.19);
}

#new-arrival-second #text-description-card {
    background-color: lightblue;
    color: rgb(75, 75, 75);
}

#new-arrival-second #text-description-card .card-title {
    font-weight: normal;
    padding-top: 40px;
}

#new-arrival-second #text-description-card .card-body {
    align-content: center;
    align-items: center;
}

#new-arrival-second #text-description-card .card-text {
    padding-top: 15px;
    padding-bottom: 15px;
}

#new-arrival-second #text-description-card a {
    font-size: 1.1rem;
    border-radius: 0;
    background-color: white;
    color: black;
    border: 1px solid white;
    transition: 0.3s;
    box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.1);
}

#new-arrival-second #text-description-card a:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(236, 236, 236);
    /* box-shadow: 0px 4px 6px 2px rgba(51, 51, 51, 0.1); */
}

.flickity-container-new-arr-second .container-cell{
    width: 50%;
    /* margin: 0px 10px; */
}

.flickity-container-new-arr-second .card-body {
    padding: 0rem;
    padding-left: 0.6rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
}

.flickity-container-new-arr-second img {
    border-radius: 0.5rem;
}

#new-arrival-third {
    margin-bottom: 50px;
}

#new-arrival-third #text-description-col {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#new-arrival-third #text-description-col h1 {
    font-kerning: none;
    font-weight: normal;
}

#new-arrival-third #text-description-col p {
    font-kerning: none;
    padding: 8px 0px;
}

#new-arrival-third #engagement-images-col{
    text-align: center;
}

#new-arrival-third img {
    width: 33%;
    height: auto;
    position: relative;
    box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.75);
}

#new-arrival-third #img-1 {
    width: 28%;
    left: 3%;
    z-index: 1;
}

#new-arrival-third #img-2 {
    width: auto;
    border-image: 1px solid steelblue;
    border-image-source: inherit;
}

#new-arrival-third #img-3 {
    width: 28%;
    right: 3%;
    z-index: 1;
}

#new-arrival-third a {
    border-radius: 0;
    background-color: rgba(6, 6, 6, 1);
    
    color: white;
    border: 1px solid black;
    transition: 0.3s;
    box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.1);
    font-size: 1.1rem;
}

#new-arrival-third a:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(6, 6, 6, 0.844);
    /* box-shadow: 0px 4px 6px 2px rgba(51, 51, 51, 0.1); */
}

#new-arrival-fourth {
    margin-bottom: 50px;
}

#new-arrival-fourth .banner-copy {
    position:absolute;
    top: 30%;
    left: 5%;
    width: 30%;
    color: white;
}

#new-arrival-fourth .banner-copy  p{
    padding: 15px 0px;
}

#new-arrival-fourth .banner-copy a {
    font-size: 1.1rem;
    border-radius: 0;
    background-color: white;
    border: 1px solid white;
    color: black;
    transition: 0.15s;
    box-shadow: 0px 0px 7px 0px rgba(231, 231, 231, 0.2);
}

#new-arrival-fourth .banner-copy a:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(236, 236, 236);
    /* box-shadow: 0px 4px 6px 2px rgba(51, 51, 51, 0.1); */
}

/*#endregion*/

/*#region GOLD PAGE */

/*#endregion*/

/*#region DIAMOND PAGE */

/*#endregion*/

/*#region ANTIQUE PAGE */

/*#endregion*/

/*#region GEMSTONE PAGE */

/*#endregion*/

/*#region MANGALSUTRAS PAGE */

/*#endregion*/

/*#region ENGAGEMENT PAGE */

/*#endregion*/

/*#region RHODIUM PAGE */

/*#endregion*/

/*#region TEMPLE PAGE */

/*#endregion*/

/*#region MOBILE */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #36384d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.mobile-header {
    /* display:flex;
  align-items:center;
  justify-content:space-between; */
    position: relative;
    background-color: #36384d;
}

.mobile-logo {
    display: flex;
    justify-content: center;
}

.mobile-logo img {
    height: 55px;
    padding: 5px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}



.sidebar a:hover {
    color: #f1f1f1;
}



.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #36384d;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

.openbtn:hover {
    background-color: #444;
}

.mobile-enable {
    display: none
}

.mobile-enable {
    display: none
}

/*#endregion*/

/*#region SHARED - TO REFACTOR */

/* All description text on modal */
.discri-div {
    text-align: left;
}

/* Header/Title of modal in each page first product */
.discri-div h3 {
    text-align: left;
    padding-top: 11%;
    font-size: 22px;
    text-transform: capitalize;
}

/* Description of modal in each page first product, just <p> element and not headers */
.discri-about {
    font-size: 12px;
    text-align: left;
}

/* Shared across multiple pages and in some areas of home page */
.container-90 {
    width: 95%;
    margin: auto;
}

/* Below is shared between new arrival on homepage and new arrival page */
.left-row {
    margin-left: 0;
    margin-right: 0;
}

.left-row p {
    font-size: 17px;
    font-weight: bold;
    margin-block-end: 0;
    text-transform: capitalize;
}

/* Create three equal columns that floats next to each other */
/* For each product in each page outside of homepage */
.column {
    float: left;
    width: 33.33%;
    display: none;
    /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Buttons in filter section of all pages with them */
#myBtnContainer {
    padding: 15px 0;
}

/*
#myBtnContainer {
    padding: 25px 0 45px;
}
*/

/* Filter button basic style */
#myBtnContainer .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

/* Add a grey background color on mouse-over on filter button */
#myBtnContainer .btn:hover {
    background-color: #ddd;
}

/* Add a dark background color to the active filter button */
#myBtnContainer .btn.active {
    background-color: #666;
    color: white;
}

/* Text for every product on the product pages underneath images */
.type {
    font-size: 16px !important;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
    margin-top: 3px;
    margin-bottom: 21px;
    text-transform: capitalize;
}

/* Keeps gold section on homepage and entire gold page content(outside of banner) centered vertically */
.my-3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Every modal, including gold first one in product pages */
.modal {
    text-align: center;
    padding: 0 !important;
}

/* Footer of modal in each page first product */
.modal-footer {
    padding: 0rem;
}

/* Modal of product in e.g gold page, not doing anything since modals disabled */
.container-product {
    padding-right: 2%;
}

/* New Arrival product images on homepage and on new arrival page */
.new-arrive-product img {
    cursor: pointer;
}

/* Keeps every other page hidden to simulate SPA */
#newarrivalpage,
#goldpage,
#diamondpage,
#antiquepage,
#gemstonepage,
#mangalsutrapage,
#engagementpage,
#templepage,
#rhodiumpage {
    display: none;
}

/* unused modals again */
.kp-modal {
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}



/*#endregion*/

/*#region EXTERNAL LIB CSS */

/* All buttons text to uppercase and bold */
.btn {
    font-weight: 700;
    text-transform: capitalize;
}

/* layout shift fancybox */
body.compensate-for-scrollbar {
    overflow: visible !important;
}

.compensate-for-scrollbar {
    padding-right: 0px !important;
}

/* Flickity slider text on each card */
.flickity-container-gold .card-body p {
    text-align: center;
    margin: 0;
    text-transform: capitalize;
    line-height: 15px;
    min-height: 49px;
    padding: 8px 0 7px;
}

/* Text inside fancybox */
.fancybox__caption {
    font-size: 25px;
}

/* Default padding makes the cards very small so this lets them fill up the room*/
.flickity-container-gold .card-body {
    padding: 0px !important;
}

/* Default card comes with grey border */
.flickity-container-gold .card {
    border: 0px;
}

/* Keeps the gold sliders with 5 cards visible(hence 20% each) and keeps them separated well enough */
.flickity-container-gold .container-cell {
    width: 20%;
    margin: 0px 20px;
}

/* Side cards are little faded to show not centered */
.flickity-container-gold .container-cell img {
    opacity: 0.85;
}

/* Center card is full opacity to show it is the centered one */
.flickity-container-gold .is-selected img {
    opacity: 1;
}

/* Doesn't appear to do anything */
.flickity-container-diamond .container-cell {
    width: 100%;
}

/* Centers diamond flickity slider vertically in its section */
#flickity-diamond-col {
    display: grid;
    align-items: center;
}

/* All text in diamond section on images(not inside fancybox) */
.flickity-container-diamond .container-cell p {
    text-align: center;
    font-size: 1.5em;
    background-color: black;
    color: white;
}

/* Flickity top banner on each page buttons for left and right */
.flickity-container-banner .flickity-button {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

/* Flickity dots on bottom of each slider, only enabled on mobile */
.flickity-page-dots {
    /* display: none; */
}

/* Flickity gold section on home page buttons for left and right */
.flickity-container-gold .flickity-button {
    background-color: rgba(255, 255, 255, 0.25) !important;
    color: black;
    border: solid 1px black;
}

/* Flickity diamond section on home page buttons for left and right */
.flickity-container-diamond .flickity-button {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: antiquewhite;
    border: solid 1px antiquewhite;
}

/*#endregion*/

/*#region UNSORTED MEDIA QUERIES */

/* For future reference:

For Mobile Devices – 320px — 480px
iPads and Tablets – 481px — 768px
Laptops and small screen – 769px — 1024px
Large screens and Desktops – 1025px — 1200px
TV and Extra Large Screens – 1201px and more

*/

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .sidebar {
        height: 50px;
    }
}

@media (max-width:576px) {
    .kp-modal-body img {
        width: 100%;
    }

    .related h3 {
        font-size: 15px;
    }

    .inner-banner-text {
        position: absolute;
        right: 0;
        top: auto;
        bottom: 28px;
        left: 0;
    }

    .related-slider .owl-nav {
        position: absolute;
        top: -38px;
        right: 2px;
    }

    .inner-banner-text h1 {
        font-size: 35px;
    }


    .kp-viewmore {
        top: 20px;
        font-size: 12px;
        padding: 4px 14px;
    }

    #gold .kp-viewmore {
        top: 0;
    }

    #diamond,
    #new-arr {
        padding: 58px 0 50px;
    }

    #collections,
    #gold {
        padding: 58px 0 50px;
    }

    #collections strong {
        display: none
    }


    html {
        /* overflow-x: hidden; */
    }



    .new-arrivals {
        font-size: 22px;
    }

    .new-arrive-product {
        margin-top: 6px;
        visibility: visible !important;
    }

    .fadeInUp {
        visibility: visible !important;
    }

    .left-row {
        width: auto;
    }

    .gold-arrivals {
        font-size: 22px;
    }

    .mobile-enable {
        display: block;
    }

    .gold-mob img {
        height: 250px;
    }

    .mobile-disable {
        display: none;
    }

    .mt-mob {
        margin-top: 11px
    }

    .healwithlove {
        height: 250px !important;
        background-size: cover;
        background-position: center;
        background-attachment: inherit;
        padding-top: 17px;
    }

    .healwithlove p {
        padding: 3px 9px;
        font-size: 10px !important;
    }

    form .col-lg-6 {
        padding-bottom: 4px !important
    }

    form .col-lg-12 {
        padding-bottom: 4px !important
    }

    .subscribe-btn {
        margin-top: 12px;
    }

    .contact-arrivals {
        padding-top: 0;
        font-size: 22px;
    }

    iframe {
        height: 250px !important;
    }

    .cover-con {
        padding-inline-start: 0px;
        float: left;
        width: 100%;
        text-align: center;
        padding-top: 7%;
        padding-left: 0;
    }

    .collection-menu {
        font-size: 15px;
    }

    #drop {
        left: 7px !important;
    }

    .divider-img {
        bottom: 9px;
        width: 102px;
        background-size: contain;
        display: flex;
        justify-content: center;
        left: 34%;
        position: relative
    }

    .panel-primary {
        text-align: center;
    }

    .contact-btn {
        margin-top: 4px;
        margin-bottom: 30px;
    }

    textarea.form-control {
        height: 141px;
    }

    .active {
        color: #fff !important;
    }

    .column {
        margin-bottom: 8px !important;
    }

    .dropdown-menu[x-placement^="bottom"],
    .dropdown-menu[x-placement^="left"],
    .dropdown-menu[x-placement^="right"],
    .dropdown-menu[x-placement^="top"] {
        display: block
    }

    .dropdown-item.active,
    .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #000;
    }

}

@media(max-width:370px) {
    .healwithlove-gold {
        height: auto !important;
    }

    .btn {
        border: none;
        font-size: 14px !important;
    }
}

@media (max-width:992px) {

    #main {
        padding-top: 50px;
    }

    .flickity-container-gold .container-cell {
        width: 90%;
        opacity: 0.8;
        margin: 0px 20px;
    }

    .flickity-container-gold .is-selected {
        opacity: 1;
    }

    .flickity-button {
        display: none;
    }

    .flickity-page-dots {
        display: block;
    }

    #flickity-diamond-col {
        padding-bottom: 50px;
    }

    .flickity-container-diamond .flickity-page-dots .dot {
        background: white;
    }

    .left-row span {
        display: flex;
        text-align: center;
        padding-bottom: 5%;
        float: initial;
    }
}

@media only screen and (min-width: 1367px) {

    .sidebar,
    .mobile-header {
        display: none;
    }

    #diamond,
    #gold,
    #new-arr,
    #collections {
        padding-top: 48px;
        padding-bottom: 62px;
        scroll-margin-top: 35px;
    }

    #contact-us {
        padding-top: 48px;
    }

}

@media only screen and (max-width: 600px) {
    .left-row p {
        text-align: center;

    }

    .left-row span {
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
    }

    .discri-div h3 {
        text-align: center;
    }

    .type-price {
        text-align: center;
    }

    .book-div {
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
    }

    .healwithlove-gold,
    .healwithlove-diamond,
    .healwithlove-stone,
    .healwithlove-new-arrivals {
        background-position-y: 12%;
    }


    .video-cover {
        height: 40vh;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: #fff;
    }

    .mitra-logo {
        display: none;
    }

    .display-3 {
        font-size: 2.5rem;
    }

    .left-row,
    .right-row {
        width: 100%;
    }

    .cover-div {
        display: inline-block;
        justify-content: space-between;
    }

    .left-about,
    .right-about {
        width: 100%;
    }

    .cover-about {
        display: inline-block;
        min-height: auto;
    }

    .right-about h3 {
        margin-top: 42%;
    }

    .burlington h3 {
        margin: 0;
    }

    .healwithlove h1 {
        font-size: 20px;
    }

    .cover-con {
        display: inline-block;
        padding-inline-start: 20px;
    }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
    .left-about,
    .right-about {
        width: 100%;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: #fff;
    }

    .cover-about {
        display: inline-block;
        min-height: auto;
    }

    .right-about h3 {
        margin-top: 42%;
    }

    .burlington h3 {
        margin: 0;
    }
}

@media(max-width:1600px) {
    .dimond-txt-bg {
        margin: 0px 0 22px;
    }

    .type {
        font-size: 13px !important;
    }
}

@media(max-width:1440px) {
    .dimond-txt-bg {
        margin: 0px 0 21px;
    }

    .type {
        font-size: 12px !important;
    }
}

@media (max-width:1366px) {
    #diamond,
    #gold,
    #collections,
    #new-arr {
        padding-top: 85px;
        padding-bottom: 123px;
        scroll-margin-top: 35px;
    }

    #collections {
        padding: 85px 0px 123px 0px;
        scroll-margin-top: 35px;
    }

    .collections-txt h1 {
        font-size: 19px;
    }

    .inner-banner-text {
        right: 8%;
    }

    .related-slider .owl-nav {
        right: 0;
    }

    .container-product {
        padding-top: 2%;
    }

    .modal-dialog {
        padding-top: 27px;
    }

    .type {
        font-size: 11px !important;
    }

}

@media(max-width:1280px) {
    .diamond-ban-text h1 {
        font-size: 20px;
    }

    .dimond-txt-bg {
        margin: 0px 0 19px;
    }

    .collections-txt h1 {
        font-size: 17px;
    }

    .flickity-container-gold .card-body p {
        min-height: 66px;
        padding: 8px 10px 7px;
    }

    .modal-dialog {
        padding-top: 7px;
    }

    .type {
        font-size: 10px !important;
    }

    .related-slider .owl-nav {
        right: 11px;
    }
}


@media(max-width:768px) {
    .btn:hover {
        border-bottom: none !important;

    }

    .left-row {
        padding-right: 0;

    }

    .right-row {
        padding-bottom: 20px;

    }

    .container-product {
        width: 100%;
        margin: auto;
        padding-top: 5%;
        height: 516px;
        overflow: scroll;
        overflow-x: scroll;
        overflow-x: hidden;
        padding-right: 20px;
        padding: 29px 40px
    }

    .healwithlove-gold {}

    .healwithlove-antique {}

    .healwithlove-diamond {
        margin-top: 11px !important;
    }

    .healwithlove-gold-rings {}

    .healwithlove-polki {}

    .healwithlove-new-arrivals {
        margin-top: 11px !important;
    }


    .new-arrive-product {
        float: left;
        width: 100%;
    }

    .d-arrive-logo {
        width: 56px;
    }

    .d-arrive {
        position: relative;
        width: 100% !important;
    }

    .d-arrive-txt h1 {
        font-size: 14px;
        padding-top: 7px;
        margin-bottom: 0;
    }

    .d-arrive-txt h6 {
        font-size: 11px;
    }

    .d-arrive-txt p {
        font-size: 10px;
        position: relative;
        bottom: 8px;
        margin-bottom: 0;

    }

    .diamond-ban-text h1 {
        font-size: 17px;
    }

    .diamond-ban-text h6 {
        font-size: 14px;
    }

    .diamond-ban-text {
        bottom: 11px
    }

    .collections-txt h1 {
        font-size: 14px;
        line-height: 21px;
    }

    .d-arrive-txt .divider2 {
        width: 69px;
        margin-bottom: 9px;
    }

    .d-arrive-txt {
        top: 4px;
        bottom: 3px
    }

    .myBtnContainer {
        padding: 0 2px;
    }
}

@media(max-width:576px) {
    .modal-dialog {
        max-width: 94%;
    }

    .healwithlove {
        padding: 17px 64px;
    }

    .subscribe-input {
        border: none;
        padding: 3px 8px;
    }

    .subscribe-btn {

        padding: 4px 13px;
    }

    .cover-con p {
        font-size: 13px;
        color: #e4bab4;
    }

    .cover-con h4 {
        font-size: 18px;
        color: #e4bab4;
    }

    .cover-con li {
        list-style: none;
        padding-bottom: 17px;
    }

    .power {
        background-color: #040404;
        font-size: 13px;
        padding-top: 0
    }

    .diamond-ban-text h1 {
        font-size: 13px;
    }

    .diamond-ban-text h6 {
        font-size: 11px;
        position: relative;
        top: 4px;
    }

    .diamond-ban-text {
        bottom: 8px;
    }

    .mt-mob {
        margin-top: 0 !important;
    }

    .dimond-txt-bg {
        position: relative;
        margin: 0px 0 8px;
    }

    .collections-txt h1 {
        font-size: 11px;
        line-height: 18px;
    }

    .collections-txt {

        right: 52%;
        left: 28px;
    }
}

@media(max-width:330px) {
    .container-product {
        height: 447px;
    }
}

@media screen and (max-width: 1450px) {

    #mainNav .navbar-nav .nav-item .nav-link {
        margin: 0.5rem 1.2vw 0rem 1.2vw !important;
    }
    #top-navbar p {
        padding-right: 0.5rem;
        text-align: right;
        font-size: 1.1vw;
    }

    #kp-logo-test {
        height: 29px;
        width: 200px;
        margin: 0.5rem 0rem 0.5rem 1.5rem;
    }

    /* .container {
        max-width: 1120px;
    } */

    #mainNav .navbar-nav .nav-item .nav-link,
    .dropdown-item {
        font-size: 1vw
    }
}

@media screen and (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link:not(#dropdownMenuButton)::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #704a57;
        width: 0%;
        content: "";
        height: 1.5px;
        transition: all 0.5s;
    }

    #mainNav .navbar-nav .nav-item .nav-link:not(#dropdownMenuButton):not(#kp-logo):hover::after {
        width: 80%;
    }

    .sidebar,
    .mobile-header {
        display: none;
    }

    #homepage,
    #newarrivalpage,
    #goldpage,
    #diamondpage,
    #antiquepage,
    #gemstonepage,
    #mangalsutrapage,
    #engagementpage,
    #templepage,
    #rhodiumpage {
        padding-top: 85px;
    }

    .navbar .navbar-nav .nav-item .nav-link:not(#dropdownMenuButton) {
        position: relative;
    }

    #mainNav .navbar-nav .nav-item {
        /* width: 12.5%; */
    }

    #mainNav {
        padding-top: 0;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: #f8f2f0;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all .3s;
        transition: all .3s
    }
}

@media screen and (min-width: 1450px) {
    #kp-logo-test {
        height: 29px;
        width: 200px;
        margin: 0.5rem 0rem 0.5rem 1.5rem;
    }

    #top-navbar p {
        padding-right: 0.5rem;
        text-align: right;
        font-size: min(1vw, 1.2rem)
    }

    #mainNav .navbar-nav .nav-item .nav-link {

        margin: 0.5rem 1vw 0rem 1vw !important;

    }

    #mainNav .navbar-nav .nav-item .nav-link,
    .dropdown-item {
        font-size: min(0.9vw, 1rem)
    }

    .single-line-link {
        /* line-height: 43px; */
    }

    .dropdown-menu {
        margin-top: 28px
    }


    #dropdownMenuButton {
        cursor: pointer;
    }

    .dropdown-toggle::after {
        transition: all 200ms ease;
        font-size: 17px;
    }
}

/*#endregion*/

/*#region UNUSED? */

/* #new-arr {

    padding-top: 2%;

    padding-bottom: 2px;

} */

.right-row {
    width: 100%;
}

.right-row img {
    width: 100%;
}

.diamond-txt {
    position: absolute;
    top: 0;
    font-weight: bold;
    top: 81px;
    left: 100px;
}

/* #diamond,
#gold,
#collections,
#new-arr {

    padding: 0px 0;

    scroll-margin-top: 62px;

} */

header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}



header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
}

@media (max-width:992px) {
    .navbar {
        display: none !important;
    }
    .dropdown-menu {
        width: 100%;
        background: #1e0f0b;
    }

    .dropdown-item:hover {
        background: #000;
    }

    .active {
        color: #fff !important;
        opacity: 1;
    }
}

@media (max-width:768px) {
    /* Hide scrollbar for Chrome, Safari and Opera */
    body::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    body {
        -ms-overflow-style: none;
        /* IE and Edge */
    }
    body {
        overflow-x: hidden;
    }
}

@media (max-width:576px) {
    .footer-sdr {
        text-align: center;
    }
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url(images/bg-video.jpg) black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x:hidden;  scrollbar goes underneath header */
    /* overflow-x:clip; issue with flexbox */
}

/* Looks like it has no effect */
.new-arrive-product {
    float: left;
    width: 100%;
}

/*#endregion*/

/*#region TEST */
/*#endregion */